#title, #message {
    margin: 40px;
    text-align: center;
}

#form-wrapper {
    margin-left: 30%;
    margin-right: 30%;
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #19B99A;
}

#debugging {
    height: 1000px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
    color: #F0F0F0;
}

a:link {
    color: green;
}