body {overflow-x: hidden;}

h2 {margin-bottom: 30px;}

p, h2 {color: black;}

.centered {text-align: center;}

/* --- DOT --- */
#result {
	margin-top: 40px;
	margin-bottom: 40px;
}

/* --- HOMEPAGE/MAIN LAYOUT --- */

#main-background {
	margin-top: 30px;
	width: 100%;
	background-color:#33DEBD;
}

#btn-slack-add, #header-right > a {
	min-width: 50px;
	max-width: 150px;
}

#demo-laptop {max-height: 250px;}

#header-text{
	margin-top: 10px;
	font-size: 300%;
	text-align: center;
	font-weight: lighter;
}

#brand-image {
	max-height: 300%;
	width: auto;
}

#brand-text {
	color: black;
	font-size: 135%;
}

nav.navbar-custom {
	background-color: transparent;
	background: transparent;
	border-color: transparent;
	background-image: none;
	box-shadow: none;
	border-bottom: 0px;

	margin-left: 50px;
	margin-right: 70px;
}

ul.navbar-nav > li > a {
	background-color: transparent !important;
	color: black !important;
	font-size: 90%;
	text-transform: uppercase;
	font-weight: 450;
	letter-spacing: 1px;
}

ul.navbar-nav > li > a:hover {cursor: pointer;}

ul.header a.active {border-bottom: #33DEBD solid 2px;}

.footer{text-align: center;}

.a-link:hover {text-decoration: none !important;}

.block-img {
	max-width: 80px;
	height: auto;
}

div.index-block {
	text-align: center;
	margin-bottom: 40px;
}

.featurette-heading {padding-top: 10px;}

/* --- FORMS --- */

.error {color: #CC245C;}

.success {color: green;}

.warning-box {
	margin-bottom: 10px;
	min-height: 20px;
}

#warning-comment {text-align: left;}

.form-group {margin-bottom: 0;}

/* --- REVIEWS --- */

#input-comment {
	min-height: 100px;
	margin-bottom: 5px;
}

#input-name, #input-comment {margin-bottom: 5px;}

#input-name {margin-top: 20px;}

#all-comments {
	margin-top: 50px;
	min-width: 200px;
}

/* --- SCREEN-RESIZING RESPONSIVE -- */

@media screen and (max-width: 767px) {
	
    #main-background {
        font-size: 0.8em;
		padding: 45px 40px 45px 40px;
    }
	
	#page-content h1 {font-size: 1.9em;}
	
	#page-content {margin: 50px 60px 80px 60px;}
}

@media screen and (min-width: 768px) {
	
    #main-background {padding: 45px 80px 45px 80px;}
	
	#page-content {margin: 50px 60px 80px 60px;}
}

@media screen and (min-width: 992px) {
	
	#main-background  {
        font-size: 1.1em;
		padding: 45px 180px 45px 180px;
    }
	
	#page-content {margin: 50px 100px 80px 100px;}
}
