html {
  	position: relative;
  	min-height: 100%;
}

body {
  	/* Margin bottom by footer height */
  	margin-bottom: 60px;
	padding-top: 80px;
}

#title, #message {
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
}

#form-wrapper label {
	text-align: right;
}

.footer {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #19B99A;
}



.container {
  	width: auto;
  	max-width: 680px;
  	padding: 0 15px;
}

.container .text-muted {
  	margin: 20px 0;
	color: #F0F0F0;
}

a:hover {
	text-decoration: none;
}

#debugging {
	height: 1000px;
}