extends layout
block content
	div(class="centered")
		h2 How does it work?
		p As promised, it's very simple. Just enter your command below to get your graph image. The only requirement: Make sure it's valid DOT syntax!
		br

	form(method="post", class="form-horizonal")

		div(class="centered")
			div(class="col-md-offset-3 col-md-6 form-group")
				input(type="text",
					id="input-DOT-string",
					name="command",
					placeholder="Enter a DOT command. E.g.: digraph {a -> b; }).",
					class="form-control")

			div(class="clearfix hidden-sm-up")
			div(class="centered warning-box", id="warning-dot")

			button(type="submit", id="create-link-button", class="btn btn-primary") Submit

	div(id="result", class="centered")