extends _layout
block content	
	div(class="container")
		div(class="row")
			div(class="col-md-4 index-block")
				img(src="images/easy.png", class="img-circle block-img")
				h3 Easy
				p It's usage is simple and efficient, allowing for anyone to use it. 
				
			div(class="col-md-4 index-block")
				img( src="images/dot.png", class="img-circle block-img")
				h3 Syntax
				p Makes graphs with imgur links directly in your chat channel, instantly, using the popular #[a(href="http://www.graphviz.org/content/dot-language", class="a-link") DOT] notation.
				
			div(class="col-md-4 index-block")
				img(src="images/easy1.png", class="img-circle block-img")
				h3 Useful
				p Make your life easier by using Graphviz to communicate ideas and reduce ambiguity!
	hr
	div(class="container-fluid", id="featurettes-wrapper")
		div(class="row")
			div(class="col-md-7")
				h2(class="featurette-heading") Deployment Diagram. 
					span(class="text-muted") The hardware.
				p(class="lead") These are the hardware components where our software components are deployed, as well as how they work together.
			div(class="col-md-5")
				img(class="featurette-image img-responsive", src="images/featurette1.jpeg")
		hr
		div(class="row")
			div(class="col-md-5")
				img(class="featurette-img img-responsive", src="images/featurette2.jpeg")
			div(class="col-md-7")
				h2(class="featurette-heading") Interaction Diagram. 
					span(class="text-muted") The software.
				p(class="lead") While this is how we describe the dynamic nature of the system.